{{ $ := .root }}
{{ $st := .page }}

{{ $talk := $st.Params.content.page_type | default "talk" }}
{{ $break := $st.Params.content.break_type | default "break" }}
{{ $talks := where $.Site.RegularPages "Type" $talk}}
{{ $breaks := where $.Site.RegularPages "Type" $break}}

{{/* Number or row per day and per type */}}
{{ $nrows_offet := 2 }}
{{ $nrows := newScratch }}
{{ $nrows.Set $talk ( $st.Params.content.nrows_talk | default 2) }}
{{ $nrows.Set $break ($st.Params.content.nrows_break | default 1 )}}

{{/* Get Data */}}
{{ $days := $st.Params.content.days }}
{{ $schedule := newScratch}}
{{ range $days }}
  {{ $day := .}}
  {{ $nrows.Set $day $nrows_offet}}
  {{ range $talks }}
    {{if eq ((time .Date).Format "2006-01-02") $day }}
      {{ $nrow_thistalk := (.Params.nrows | default ($nrows.Get $talk)) }}
      {{ $time_thistalk := ((time .Date).Format "15:04")}}
      {{ $schedule.SetInMap $day $time_thistalk .}} {{/* This talk must be added */}}
      {{ $nrows.Add $day $nrow_thistalk}}  {{/* total number of row for this day */}}
    {{end}}
  {{end}}
  {{/* Breaks are different, they can be multiply used */}}
  {{ range $breaks }}
    {{$this_break := .}}
    {{ if .Params.dates}}
      {{ range .Params.dates}}
          {{if eq ((time .start).Format "2006-01-02") $day }}
            {{ $nrow_thisbreak := (.Params.nrows | default ($nrows.Get $break)) }}
            {{ $time_thisbreak := ((time .start).Format "15:04")}}
            {{ $schedule.SetInMap $day $time_thisbreak  $this_break}}
            {{ $nrows.Add $day $nrow_thisbreak}}{{/* total number of row for this day */}}
          {{end}}
      {{end}}
    {{else}}
    {{/* use Date param */}}
      {{if eq ((time .Date).Format "2006-01-02") $day }}
        {{ $nrow_thisbreak := (.Params.nrows | default ($nrows.Get $break)) }}
        {{ $time_thisbreak := ((time .start).Format "15:04")}}
        {{ $schedule.SetInMap $day $time_thisbreak .}} {{/* This talk must be added */}}
        {{ $nrows.Add $day $nrow_thisbreak}}  {{/* total number of row for this day */}}
      {{end}}
    {{end}}
  {{end}}
{{end}}

{{/* Test */}}
{{ range $days }}
  {{ $day := .}}
  <h3>Day {{$day}} ({{$nrows.Get $day}})</h3>
  {{ $row_end := $nrows_offet}}
  {{ $row_start := $row_end}}
  {{ range $time, $page := ($schedule.Get $day)}}
    {{ $type := $page.Type}}
    {{ $nrows_thisitem := ($page.Params.nrows | default ($nrows.Get $type))}}
    {{ $row_end = add $row_start $nrows_thisitem}}
    <p>{{$time}} : {{$page.Title}} (nrow_start = {{$row_start}}, n_row_end = {{ $row_end }})</p>
    {{ $row_start = $row_end}}
  {{end}}
{{end}}

{{/* Rendering */}}
<section class ="workshop-container">
  {{ range $days }}
    {{ $day := .}}
    {{ $row_end := $nrows_offet}}
    {{ $row_start := $row_end}}
    <article id="workshop-day-{{$day}}" class ="workshop-day" style="--nrows:{{$nrows.Get $day}}">
      <h3>{{ (time $day).Format "Monday 2 January 2006" }}</h3>
      {{ range $time, $page := ($schedule.Get $day)}}
        {{ $type := $page.Type}}
        {{ $nrows_thisitem := ($page.Params.nrows | default ($nrows.Get $type))}}
        {{ $row_end = add $row_start $nrows_thisitem}}
        {{/* assign data to the page */}}
        {{ $page.Scratch.Set "row_start" $row_start}}
        {{ $page.Scratch.Set "row_end" $row_end}}
        {{ $page.Scratch.Set "time" $time}}
        {{ $page.Scratch.Set "day" $day}}

        {{ partial "workshop_info" $page }}
        {{ partial "workshop_content" $page }}

        {{ $row_start = $row_end}}
      {{end}} {{/* end range schedule $day */}}
    </article>
  {{end}} {{/* end range days */}}
</section>

