/* Full Schedule */

nav.workshop ul{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav.workshop li{
  display:inline-block;
  text-align: center;
  color:var(--primary);
  background-color: white;
  font-size:0.9em;
  border-radius: 10px;
  padding:10px;
  border: solid 2px var(--primary);
  margin-right:5px;
  margin-left:5px;
}

nav.workshop li a:hover,
nav.workshop li.active a{
  text-decoration: none;
  background-color: var(--primary);
  color:white;
}

/* Day */
article.workshop-day{
  display:none;
  text-align:center;
}
article.workshop-day.active{
  display:block;
}

article.workshop-day{
  width:100%;
}

@media  (max-width:768px) {
  article.workshop-day h3{  
    width:100%;
    margin:auto;
  }
}

@media  (min-width:768px) and (max-width:1200px) {
  article.workshop-day h3{  
    width:690px;
    margin:auto;
  }
}
@media  (min-width:1200px) {
  article.workshop-day h3{  
    width:100%;
  }
}
article.workshop-day h3{  
  display:inline-block;
  margin:0px;
  text-align:center;
  color:var(--primary);
  background-color: white;
  font-weight: bold;
  font-size:1em;
  border-radius: 10px;
  padding:10px;
  border: solid 2px var(--primary);
  margin-bottom:0.5rem;
}

/* Session container */
article.workshop-day div.session-container{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap:wrap;
}

/* Session */


article.workshop-day section.workshop-session{
  display: inline-grid;
  grid-template-rows: repeat(var(--nrows),minmax(2em,auto));
  grid-gap: 0.5rem;
  padding:10px;
}
@media  (max-width:1200px) {
  article.workshop-day section.workshop-session{
    grid-template-columns: 57px auto;
  }
}
@media  (min-width:1200px) {
  article.workshop-day section.workshop-session{
    grid-template-columns: 57px minmax(auto, 483px);
    }
}
@media  (max-width:768px) {
  article.workshop-day section.workshop-session{
    width:100%;
  }
}
@media  (min-width:768px) and (max-width:1200px) {
  article.workshop-day section.workshop-session{
    margin:auto;
    width:690px;
  }
}
@media  (min-width:1200px) {
  article.workshop-day section.workshop-session{
    order:var(--order);
  }
}

article.workshop-day section.workshop-session{
  border-left: solid 6px var(--color_session);
}


  section.workshop-session  h4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:var(--row_start);
  grid-row-end:var(--row_end);
  margin:0px;
  text-align:left;
  color:black;/*var(--primary);*/
  font-weight: bold;
  font-size:1em;
}

section.workshop-session ul.workshop-session-info{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:var(--row_start);
  grid-row-end:var(--row_end);
  margin-top:0px;
  margin-bottom:0px;
  list-style: none;
  padding-left:0px;
}

section.workshop-session ul.workshop-session-info li{
  float:left;
}

section.workshop-session ul.workshop-session-info li:not(:first-child):before {
  content: '\00a0\00a0\b7\a0\00a0\00a0'; /*space and middot*/
}


article.workshop-day section.workshop-session div.workshop-session-time{
  color:grey;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:var(--row_start);
  grid-row-end:var(--row_end);
}
article.workshop-day section.workshop-session span.hour{
  color:grey;
  font-size:1.5em;
}

article.workshop-day div.workshop-info .workshop-info-more,
article.workshop-day li.workshop-session-chairperson span.title{
  display: none;
}

div.workshop-content{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:var(--row_start);
  grid-row-end:var(--row_end);
  border-radius: 10px;
  text-align: center;
  padding:0px;
  background-color: ghostwhite;
}

/* Talk content */
div.workshop-content-talk{
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-out;
}

div.workshop-content-talk:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.workshop-content-talk > a:first-child{
  color: black;
  height:100%;
  display:block;
  margin-top:0px;
  padding:10px;
}

div.workshop-content-talk > a:first-child:hover{
  text-decoration: none;
}
div.workshop-content-talk h5{
  text-align:left;
  margin-top:0px;
}
div.workshop-content-talk h5 span.workshop-talk-speaker{
  font-weight: normal;
  font-size:0.8rem;
  float:right;
  margin:5px;
}


div.workshop-info img,
ul.workshop-session-info li.workshop-session-chairperson img,
div.workshop-content-talk h5 span.workshop-talk-speaker img{
  display:inline-block;
  width:32px;
  height:32px;
  margin-left:5px;
  margin-right:5px;
}

/* Breaks */
div.workshop-content-break{
  display:flex;
  align-items: center;
  padding:10px;
/*  justify-content: center;*/
}

div.workshop-content-break h5{
  color:var(--color, white);
  text-align:left;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px black;
  margin-top:0px;
}
